@import 'variables';

h1{
    color: $yellow-color;
}
h2{
    color: $blue-color;
}
.logo-web{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 4px;
}
.img-product {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.table td, .table th {
    vertical-align: middle;
}
.navbar .dropdown-menu {
  border-radius: 12px;
}

.navbar .dropdown-item:hover {
  background-color: #fff3cd;
}

.card {
    border: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: #f0ad4e;
}